---
import BaseLayout from "./BaseLayout.astro";
const {frontmatter} = Astro.props;
const tags = frontmatter.tags;
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>Written by {frontmatter.author}</p>
    <p>Published on {frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt}/>
    <slot/>

    <div>
        <h3>Tags</h3>
        <ul>
            {tags.map((tag) => <li><a href=`/tags/${tag}`>{tag}</a></li>)}
        </ul>
    </div>
</BaseLayout>